<form method="POST" class="mt-5">
  <div class="form-group">
    <label for inputTitle>fff</label>
    <input
      type="text"
      id="inputTitle"
      name="inputTitle"
      value="testValue"
      class="form-control"
    />
  </div>
  <button type="submit" class="btn btn-primary"><%= typeForm%></button>
</form>
